*.pyc
*.pyo
*.pyd
*__pycache__*
*.ipynb_checkpoints
.vscode
*.json
*.pkl
data
*.log
agents/debug/
*.rdb
*.sqsh
agents/tools/data/*
!agents/tools/data/redis/dump.rdb
agents/data
!agents/data/redis/dump.rdb
*.pytest_cache

